*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}


body, html {
    height: 100%;
}

.banner{
    width: 100%;
    height: 120vh;
    background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(/images/ekm_ci.jpeg);
    background-size: cover;
    background-position: center;

}
.navbar{
    width: 100%;
    height: 11%;
    margin:auto;
    padding: 30px 0;
    display:flex;
    align-items:initial;
    justify-content: space-between;
    background-color: black;
    padding-left: 20px;
    padding-bottom: -50px;
}

.navbar .dropdown {
    flex-grow: 1;
}

.custom-select{
    width: 500px;
}

.logo{

    padding-top: 10px;
    width: 90px; 
    height: 70px;
    display: inline-block;
    vertical-align: middle;
    /* border: 2px solid black; */
    margin-top: -2%;
    margin-left: 1%;
    
}
    
.logo img {
    width: 50px; 
    height: 50px;
    padding-top: 2px; 
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    padding-right: 33px;
}
.navbar ul li a{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: teal;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
    
}
.navbar ul li:hover::after{
    width: 100%;
}

.content h1{
    color: white;
    font-size: 240px;
    margin-top: 10%;
    align-items: center;
    margin-left: 10px;
}
.desc-container {
    display: flex;
    justify-content: space-between;
}


.wayanad{
    /* border: 2px solid black; */
    margin-left: 60px;
    line-height: 2;
    float: left;
    width: 45%;

}

.heading h1{
    font-size: 50px;
    margin-bottom: 2%;
    font-family: 'Times New Roman', Times, serif;
}

.desc p{
    text-align: justify;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.slide-show{
    width: 20%;
}
.container{
    position: relative;
}

.container .wrapper{
    width: 668px;
    height: 340px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.6 );
    margin-left: -160%;
    margin-top: 1%;
    overflow: hidden;

}

.container .wrapper-holder{
    display: grid;
    grid-template-columns: repeat(5,100%);
    height: 100%;
    width: 100%;
    animation: slider 30s ease-in-out infinite
    alternate;
    margin-left: 2;
}

.container #img1{
    background-image: url(/images/ekm_slide1.jpg);
    background-position: center;
}

.container #img2{
    background-image: url(/images/ekm_slide2.jpg);
    background-position: center;
}

.container #img3{
    background-image: url(/images/ekm_slide3.jpg);
    background-position: center;
}
.container #img4{
    background-image: url(/images/ekm_slide4.jpg);
    background-position: center;
}
.container #img5{
    background-image: url(/images/ekm_slide5.jpg);
    background-position: center;
}

@keyframes slider{
    0%{transform: translateX(0%);}
    10%{transform: translateX(-100%);}
    20%{transform: translateX(-100%);}
    30%{transform: translateX(-200%);}
    40%{transform: translateX(-200%);}
    50%{transform: translateX(-300%);}
    60%{transform: translateX(-300%);}
    70%{transform: translateX(-400%);}
    80%{transform: translateX(-400%);}
    90%{transform: translateX(0%);}
    100%{transform: translateX(0%);}
}

.places-to-visit h1{
    margin-left: 60px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.img-container{
    height: 340px;
    width: 670px;
    /* position: relative;
    float: right; */
}
 

.img-container1 img{
    height: 340px;
    width: 670px;
    position: relative;
    float: left;
    object-fit: cover;

}

.img-container2 img{
    height: 340px;
    width: 670px;
    position: relative;
    float: left;
}

.img-container3 img{
    height: 340px;
    width: 670px;
    position: relative;
    float: left;
} */

.places-to-visit h2{
    margin-left: 60px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.cards-container1{
    display: flex;
    align-items: center;
    /* border: 2px solid black; */
    margin-left: 70px;
    padding-left: 4.5%;
    margin-right: 0%;
    max-width: 100%;
    
}

.upper{
    height: 400px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}
.upper img{
    height: 400px;
    width: 320px;
    border-radius: 3px;
}

.intro{
    height: 200px;
    width: 350px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    /* background: rgb(27, 27, 27,0.5); */
    color: black;
    
    overflow: visible;
}

.intro h1{
    margin: 10px;
    font-size: 25px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}

.intro p{
    font-size: 17px;
    margin:10px ;
    opacity: 1;
    line-height: 1.5;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}


.cards-container2{
    display: flex;
    align-items: center;
    margin-left: 130px;
    margin-top: 15%;
    
    
}

.lower{
    height: 400px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}
.lower img{
    height: 400px;
    width: 320px;
    border-radius: 3px;
}

.intro{
    height: 200px;
    width: 350px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    /* background: rgb(27, 27, 27,0.5); */
    color: black;
    overflow: visible;
}

.intro h1{
    margin: 10px;
    font-size: 25px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}

.intro p{
    font-size: 17px;
    margin:10px ;
    opacity: 1;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.copyright{
    background-color: black;
    margin-top: 19%;
    height: 60px;
}

.copyright p{
    color: white;
    text-align: center;
    padding-top: 25px;
    font-size: 15px;
}